{% extends 'layout.html' %}
{% block title %} 资料下载 {% endblock %}
{% block head %}
<style>
table {
  margin: 0;
}
.container {
  margin: 20px 0 30px 0;
}
.section {
  margin: 20px 0 20px 0;
}
.box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 10px;
}
.cover {
  max-width: 200px;
  max-height: 280px;
}
.cover img {
  width: 100%;
}
</style>
{%endblock%}

{% block left_col %}
{% include 'left_col.html' %}
{% endblock %}

{% block mid_col %}
<div class="mid_col">
    <div class="container">
        <div class="section">
          <h2 class="title">Linux/UNIX系统编程手册</h2>
          <h2 class="title">The Linux Programming Interface: A Linux and UNIX System Programming Handbook</h2>
          <div class="box">
            <div class="cover"><img src="/static/img/resource/tlpi.jpg"></div>
            <table class="desc">
              <tr>
                <td>豆瓣读书</td>
                <td><a target="_blank" href="https://book.douban.com/subject/25809330/">https://book.douban.com/subject/25809330/</a></td>
              </tr>
              <tr>
                <td>中文版下载</td>
                <td><a target="_blank" href="http://pan.baidu.com/s/1o6DnyeY/">http://pan.baidu.com/s/1o6DnyeY/</a></td>
              </tr>
              <tr>
                <td>英文版下载</td>
                <td><a target="_blank" href="http://file.allitebooks.com/20150519/The%20Linux%20Programming%20Interface.pdf">http://file.allitebooks.com/20150519/The%20Linux%20Programming%20Interface.pdf</a></td>
              </tr>
              <tr>
                <td>介绍</td>
                <td>tlpi</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="section">
          <h2 class="title">深入理解计算机系统（原书第3版）</h2>
          <h2 class="title">Computer Systems: A Programmer's Perspective (3rd Edition)</h2>
          <div class="box">
            <div class="cover"><img src="/static/img/resource/csapp.jpg"></div>
            <table class="desc">
              <tr>
                <td>豆瓣读书</td>
                <td><a target="_blank" href="https://book.douban.com/subject/26912767/">https://book.douban.com/subject/26912767/</a></td>
              </tr>
              <tr>
                <td>介绍</td>
                <td>csapp</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="section">
          <h2 class="title">You Can Draw in 30 Days</h2>
          <div class="box">
            <div class="cover"><img src="/static/img/resource/draw_in_30_days.png"></div>
            <table class="desc">
              <tr>
                <td>豆瓣读书</td>
                <td><a target="_blank" href="https://book.douban.com/subject/4411193/">https://book.douban.com/subject/4411193/</a></td>
              </tr>
              <tr>
                <td>微盘下载</td>
                <td><a target="_blank" href="http://vdisk.weibo.com/s/ySNb63Cez94Cx">http://vdisk.weibo.com/s/ySNb63Cez94Cx</a></td>
              </tr>
              <tr>
                <td>介绍</td>
                <td>You Can Draw in 30 Days</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
</div>
{% endblock %}