<!DOCTYPE html>
<html lang="zh">
<head>
  <title>{% block title %}mrsu's blog{% endblock %} | mrsu.me</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet" type="text/css" href="/static/css/markdown_github.css">
  <link rel="stylesheet" type="text/css" href="/static/css/highlight_pygments.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font_awesome.css">
  <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/css/blog.css">
  <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/js/jQueryRotate.js"></script>
</head>
<body>
  <div class="screen">
    {% block left_col %}{% endblock %}
    {% block mid_col %}{% endblock %}
    {% block right_col %}{% endblock %}
  </div>
</body>
{% block script %} {% endblock %}
</html>
